#context-menu-overlay {
    z-index: 2;

    #context-menu {
        position: absolute;
        overflow-y: scroll;
        overflow-x: none;
        max-height: 100%;

        width: 16rem;
        padding: var(--spacing-2);
        background: var(--background-secondary);
        border-radius: var(--border-radius);

        display: flex;
        flex-direction: column;
        align-items: center;

        & > * {
            width: 100%;
        }
    }
}
