#main-menu-container {
    position: relative;
    order: 1; // the main menu should be displayed first

    & > button {
        appearance: none;
        border: none;
        transition: background 200ms;
        border-radius: var(--border-radius);

        height: 2.75rem;
        width: 2.75rem;

        text-align: center;
        color: var(--text-tertiary);
        font-size: 1rem;

        &:hover {
            background: var(--background-secondary-alt);
        }
    }

    & > div {
        position: absolute;
        top: 3.25rem;
        width: 19rem;
        padding: var(--spacing-1);

        display: none;

        &.open {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-0);

            opacity: 1;
        }
    }
}
