#time-controls {
    height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: row;
    align-items: center;
    order: 3; // the time controls should be last in the overlay upper

    // TODO: make this work so it's visible
    // visibility: hidden;
}
