#properties-pane .property {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--spacing-1);

    height: 1.5rem;

    & > .label {
        flex: 1;

        height: 100%;
    }

    & > input,
    & > select {
        width: 6rem;
        height: 100%;
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);
        padding: 0 var(--spacing-1);

        text-align: center;
        font-size: 0.75rem;
        font-weight: normal;

        &:focus {
            border: solid 1px var(--separator-color);
        }
    }
}
